*:focus {
    outline: none;
}

*:hover {
    text-decoration: none;
}

body {
    background-color: rgba(238, 239, 227, 0.9) !important;
}

.row {
    margin: 1rem 0;
}

.text {
    padding: 0.5rem;
}

.myinput[type="checkbox"]:checked:after {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC'), linear-gradient(135deg, #B1B6BE 0%, #FFF 100%);
}

.myinput.large {
    height: 22px;
    width: 22px;
}

.myinput.large[type="checkbox"]:before {
    width: 20px;
    height: 20px;
}

.myinput.large[type="checkbox"]:after {
    top: -20px;
    width: 16px;
    height: 16px;
}

.panel {
    -webkit-box-shadow: 3px 5px 50px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 5px 50px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 5px 50px -1px rgba(0, 0, 0, 0.75);
}

.edit {}

.confirm-text {
    padding: 0.3rem;
}

.current-date {
    background-color: rgba(0, 92, 240, 0.21);
    padding: 0.3rem;
    font-weight: 500;
    text-align: center;
}

.todo-icons {
    letter-spacing: 0.1rem;
}

.panel-heading {
    display: flex;
    justify-content: space-between;
}

.textEdit{
    letter-spacing: 0.1rem;
    text-align: end;
    padding: 0.3rem 0;
}

.end {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc4JyBoZWlnaHQ9JzgnPgogIDxyZWN0IHdpZHRoPSc4JyBoZWlnaHQ9JzgnIGZpbGw9JyNmZmYnLz4KICA8cGF0aCBkPSdNMCAwTDggOFpNOCAwTDAgOFonIHN0cm9rZS13aWR0aD0nMC41JyBzdHJva2U9JyNhYWEnLz4KPC9zdmc+Cg==");
    background-repeat: repeat;
}
